<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Forget Password</h1>


<form method="post"   action="/forget-password">
    <input type="hidden" name="userID" value="<%=userID%>">
    <input type="password" name="password" required placeholder="enter new password"><br><br>
    <input type="submit" value="Reset Password" >
</form>
    
</body>
</html>