<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Forget Password</h1>
    <% if(typeof message!='undefined'){ %>
    <h4><%= message%></h4>
<% } %>

<form method="post"   action="/logIn/forget">
    <input type="mail" name="email" required placeholder="enter email"><br><br>
    <input type="submit" value="send Password" >
</form>
    
</body>
</html>