<h3 style="text-align: center; margin: auto;padding-top: 3vw;">
    
   Looks Like this username , <i style="color: rgb(11, 92, 26)"><%= message %> </i>  has not been registered .
    
   <br><br> 
   Fisrtly <a href="/login"> Sign-up </a> with your details to proceed further with BloggMe.
    </h3>